<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- Bloquear acceso directo a carpetas sensibles -->
        <rule name="Block vendor" stopProcessing="true">
          <match url="^vendor(/.*)?$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
        </rule>
        <rule name="Block src" stopProcessing="true">
          <match url="^src(/.*)?$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
        </rule>
        <rule name="Block public folder" stopProcessing="true">
          <match url="^public(/.*)?$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access denied" />
        </rule>

        <!-- Redirigir HTTP a HTTPS -->
        <rule name="HTTP to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Enrutar todo a index.php (Slim Framework) -->
        <rule name="Slim PHP" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <add value="index.php" />
      </files>
    </defaultDocument>

    <staticContent>
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>

    <!-- Ocultar cabecera de versión del servidor -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
